*{
    font-family: 'Poppins', sans-serif;
}

.navbar  {
    width: 100%;
    height: 120px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #000; */
}


.links {
    margin-right: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: right;
    font-size: 15px;

}

.links a {
    /* color: rgb(104, 213, 125); */
    color:rgb(34, 91, 41);
    padding: 20px;
    text-decoration: none;
    font-weight: 800;
    
}

.links text {
    justify-content: space-between;
}

.logo {
    width: 200px;
    padding: 30px;
    margin: 30px;
    margin-top: 80px;
    justify-items: left;
}

.nav-btns{
    display: inline;
}

.btn-1 {
    padding: 10px 10px;
    background-color: rgb(34, 91, 41);
    border: none;
    border-radius: 25px;
}

.btn-1 a {
    color: #fff;
    align-items: center;
    justify-content: center;
}

.heart-icon2{
    color:rgb(245, 175, 189);
    font-size: 15px;
    padding-right: 5px;
    padding-top: 5px;
}

.btn-2{
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color: rgb(159, 211, 124);
    border: none;
    border-radius: 25px;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .btn-2 a {
      color: rgb(34, 91, 41);
      text-decoration: none;
      font-weight: 900;
      align-items: center;
  }
  
  .icon-well{
    width: 18px;
    height: 14px;
    padding-right: 6px;
    padding-top: 3px;
    align-items: center;
  }

  .btn-7{
    padding: 10px 10px;
    background-color: rgb(245, 175, 189);
    border: none;
    border-radius: 25px;
    color: rgb(34, 91, 41);
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 10px 20px;
    font-weight: 900;
  }